# Built-in Data Structures, Functions

## Data Structures and Sequences

## Tuple
- Tuples are immutable sequences of python objects.
- fixed length.

In [28]:
tup = 4, 5, 6 # can be created without brackets.
tup

(4, 5, 6)

In [29]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

## Converting to tuple
we can convert any sequence or iterator to a tuple with the `tuple()` function.

In [30]:
tuple([4, 0, 2])
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

### Tuple *elements* can be  accessed with [] 0-indexed

In [31]:
tup[0]

's'

In [32]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False #  we can not change an item. hence error below

TypeError: 'tuple' object does not support item assignment

### Mutable objects within Tuple
If an object *inside* a tuple is mutable, we can modify in place.

In [33]:
tup[1].append(3) # will append a 3 to the index 1, list
tup

('foo', [1, 2, 3], True)

In [34]:
(4, None, 'foo') + (6, 0) + ('bar',) # we can concat tuples together.

(4, None, 'foo', 6, 0, 'bar')

In [35]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [36]:
tup = (4, 5, 6)
a, b, c = tup # python tries to unpack from the righthand side of the equals sign.
b

5

In [37]:
tup = 4, 5, (6, 7) # works for nested tuples as well.
a, b, (c, d) = tup # python tries to unpack from the righthand side of the equals sign. 
d

7

### Swapping variable names in other languages example
```python
tmp = a
a = b
b = tmp
```

In [38]:
#  example of swapping vars the python way
a, b = 1, 2
a
b
b, a = a, b
a
b

1

### Common use of unpacking
Iterating over sequences of tuples or lists.

In [39]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

### Tuple Unpacking adv. PLUCK
`*rest` or `*anything` used to capture an arbitrarily long *list* of positional args.

In [40]:
values = 1, 2, 3, 4, 5
a, b, *rest, e = values
a, b
rest # rest returns list of plucked args [c, d]

[3, 4]

In [41]:
a, b, *_ = values # we don't need to use "*rest", can use anything, common convention is *_
_

[3, 4, 5]

#### Tuple methods

`.count()` counts the number of occurances of a value in a tuple.

In [42]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

## List
Mutable sequence!
- length not fixed.
- items can be modified inplace.
- use `[]` or `list()` function to create a list.

In [43]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [46]:
gen = range(10)
print(gen)
list(gen) # materialize iterator or generator expression

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

`.append()` adds item to end of list.

In [47]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

`.insert(i, 'item')` insert elem in specific location.
Note: `.insert()` can be computationally expensive compared with append

In [48]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

inverse of `.insert()` is `.pop()`.
`.pop()` can remove an elem at a particular index.

In [49]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [53]:
b_list.append('foo')
print(b_list)
b_list.remove('foo') # removes first instance of arg 'foo'
b_list

['red', 'baz', 'dwarf', 'foo', 'foo']

['red', 'baz', 'dwarf', 'foo']

In [54]:
'dwarf' in b_list

True

In [55]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [58]:
[4, None, 'foo'] + [7, 8, (2, 3)] # concat list.

[4, None, 'foo', 7, 8, (2, 3)]

In [59]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)]) # .extend() can be used to append a list to a list.
x

[4, None, 'foo', 7, 8, (2, 3)]

### Note: list CONCAT vs `.extend()`
concat is expensive operation compared to extend(), since it needs to create a new list everytime and copy all the objects over. `.extend()` is preferred over concat lists if you are building up a large list.

```python
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)
```

### `.extend()` is faster than concatenation by addition

```python
everything = []
for chunk in list_of_lists:
    everything = everything + chunk
```

## Sorting

In [62]:
a = [7, 2, 5, 1, 3]
a.sort() #sort a list inplace. don't need to create a new list
a

[1, 2, 3, 5, 7]

In [64]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) # sorts list inplace by key length. ascending.
b

['He', 'saw', 'six', 'small', 'foxes']

### Binary search and maintaining a *sorted list*
preamble before using this module. *Always* `.sort()` your list first. then use `bisect` module afterwards.
bisect doesn't check if a list is sorted first or not...

In [78]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
c

[1, 2, 2, 2, 3, 4, 7]

`bisect.bisect()` finds loc where new element can be inserted that would still keep the list sorted.

In [79]:
bisect.bisect(c, 2)

4

In [80]:
bisect.bisect(c, 5)

6

In [81]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [89]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [90]:
seq[3:4] = [6, 3] # 6, 3 will replace element at index 3 (7)
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

### Slicing ommiting [start:stop]

In [93]:
seq[:5] # slice from start until but not including index 5.

[7, 2, 3, 6, 3]

In [95]:
seq[3:] # slice from index 3 until end of list.

[6, 3, 5, 6, 0, 1]

In [98]:
seq[-4:] # equilivant to starting slice at index 5 until end.

[5, 6, 0, 1]

In [97]:
seq[-6:-2]

[6, 3, 5, 6]

In [99]:
seq[::2] # inlcuding index 0, take all even indexed elems

[7, 3, 3, 6, 1]

In [100]:
seq[::-1] #reversing the list

[1, 0, 6, 5, 3, 6, 3, 2, 7]

## Built-in Sequence Functions

### enumerate
keep track of index of the current item.

DIY approach

```python
i = 0
for value in collection:
   # do something with value
   i += 1
```

In python we can do this easily with enumerate which can return a tuple `(i, value)`

```python
for i, value in enumerate(collection):
   # do something with value
```

In [101]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### `.sorted()`
returns a new sorted list from elems of any sequence.

In [105]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [106]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## `.zip()`
creates a new object that pairs up elements from 2 lists based on index, can be returned as a list of tuples.

In [115]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2) #new object created
print(zipped)
list(zipped)

<zip object at 0x7f8a1e00b240>

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [117]:
seq3 = [False, True] #number of elems in the tuples is determined by the shortest sequence
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

### Common use iterating over multiple sequences combined with enumerate.

In [118]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

### Unzip
list of rows into a list of cols.
we cana unzip a zipped list. with `zip(*_)` which plucks each tuple elem into our new "cols" variables.

In [121]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Curt', 'Schilling')]
first_names, last_names = zip(*pitchers) # `*pitchers` this PLUCKS the pitchers into 2 tuples.
print(first_names) #col header
last_names # col for header

('Nolan', 'Roger', 'Curt')

('Ryan', 'Clemens', 'Schilling')

#### `reversed()` function creates a generator expression
this can be later materialized with a list or for loop.

In [125]:
reversed(range(10))

In [124]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## dict
- More common name *hash map* or *associative array*. 
- {key: value} pairs that are python objects.

In [126]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [132]:
d1[7] = 'an integer' # dict[new_key] = 'new_value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [133]:
d1['b']

[1, 2, 3, 4]

In [134]:
'b' in d1

True

### Deleting values from dict
- we can delete a key and value pair with the `del` keyboard
- we can also `.pop()` to delete a key AND return its value to a new variable.

In [149]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}

In [150]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [151]:
ret = d1.pop('dummy')
ret

'another value'

In [153]:
d1 #see if dummy key above is deleted

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [155]:
print(list(d1.keys()))
list(d1.values())

['a', 'b', 7]

['some value', [1, 2, 3, 4], 'an integer']

## Merge dict
you can merge dicts

In [157]:
d1.update({'b' : 'foo', 'c' : 12}) # update() is inplace.
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

```python
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value
```

- dict is essentially a *collection* of 2-tuples.
- the `dict()` function accepts lists of 2-tuples. see example below.

In [159]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### Default values

```python
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value
```

the above block can be written simply as:
```python
value = some_dict.get(key, default_value)
```

In [160]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

Builiding a dictionary with the `.setdefault()`
```python
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
```

Same objective but even easier with the built-in `collections` module and `defaultdict`

```python
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
```

#### Valid dict key types

hashability? we can check whether an object is hashable with the `hash()`

In [4]:
hash('string')

8990806804301251792

In [5]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [6]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

### Using a list as a key in a dict
to use a list as a key we need to convert it to a tuple

In [7]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

sets can be created two ways with `set()` or `{}`

In [8]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

Sets support mathematical *set operations* like *union, intersection, difference and symmetric difference.*

In [9]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [14]:
# two methods for union, joining to sets
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
# two methods for intersection, shared overlapping keys
a.intersection(b)
a & b

{3, 4, 5}

In [16]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [17]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

#### We can also check if...
- a set is a *subset* of (is contained in) another set `.isubset()`
- a set is a *superset* of (contains all elems of) another set `.issuperset()`

In [19]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [20]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

list comprehension
```python
[expr for val in collection if condition]
```

Equilivalent . . .
```python
result = []
for val in collection:
    if condition:
        result.append(expr)
```

In [21]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

### Sets and dict comprehensions
```python

dict_comp = {key-expr : value-expr for value in collection if condition}

set_comp = {expr for value in collection if condition}

```

In [23]:
# creating a set of unique string lengths from the list above.
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [24]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [26]:
# example dict comprehension
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [27]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

simple for loop example for a nested list
```python
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
```

In [28]:
# However we can do this better with nested list comprehension
result = [name for names in all_data for name in names
          if name.count('e') >= 2]
result

['Steven']

In [1]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup] #the 2nd for is the nested for loop
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

```python
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)
```

In [2]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

Functions are *declared* with the `def` keyword and *returned* from with the `return` keyword. 

```python
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)
```

if there is no `return` keyword in the function `None` is returned automatically.

Each function can accept *positional* and *keyword* args.

```python
my_function(5, 6, z=0.7) # x and y are positional, z is a keyword arg.
my_function(3.14, 7, 3.5)
my_function(10, 20)
```

### Namespaces, Scope, and Local Functions

Example of local scope variable assignment `a`
```python
def func():
    a = []
    for i in range(5):
        a.append(i)
```

We can declare variables outside the function.
```python
a = []
def func():
    for i in range(5):
        a.append(i)
```

In [5]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple Values
A python favourite!

```python
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()
```

instead of `a, b, c = f()` we could have also put:
```python
return_value = f()
```

Here is an alternative to the above function if we want to specifically return an a,b,c
```python
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}
```

### Functions Are Objects

In [6]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']

In [7]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() #removes whitespace
        value = re.sub('[!#?]', '', value) #remove punct symbols
        value = value.title() #std capitalisation
        result.append(value)
    return result

In [8]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

### Here is an alternative approach

In [9]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [10]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [12]:
#passing a function remove punct into the map() function
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

```python
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2
```

A Silly example:
```python
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)
```

Below is another example of using `lambda` function

In [13]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [15]:
strings.sort(key=lambda x: len(set(x))) #sort by number of distinct letters in each string.
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application
currying is compsci jargon named after mathematician Haskell Curry.
it basically derives new functions from existing ones.

example:

```python
def add_numbers(x, y):
    return x + y
```

```python
add_five = lambda y: add_numbers(5, y)
```

We can do the same with a module.
```python
from functools import partial
add_five = partial(add_numbers, 5)
```

### Generators

In [1]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

a
b
c

### Note
When we write `for key in some_dict:`, the python interpreter first attempts to create an iterator out of `some_dict`

In [2]:
dict_iterator = iter(some_dict)
dict_iterator

In [3]:
list(dict_iterator)

['a', 'b', 'c']

### Creating a generator
To create a generator use the `yeild` keyword instead of `return` in the function.

In [7]:
def squares(n=10):
    print('Generating squares from 1 ta {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

#### When you call the gen no code is executed

In [8]:
gen = squares()
gen

#### Request elems from the gen
requesting elements will execute code.

In [6]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

#### How to make a gen expression
Use parentheses around the comprehension expression

In [9]:
gen = (x ** 2 for x in range(100))
gen

equivalent example to above
```python
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()
```

#### gen exp can be used as function args

In [11]:
sum(x ** 2 for x in range(100))

328350

In [12]:
dict((i, i **2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [13]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [16]:
float('1.2345')

1.2345

In [15]:
float('something')

ValueError: could not convert string to float: 'something'

In [17]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [18]:
attempt_float('1.2345')

1.2345

In [19]:
attempt_float('something')

'something'

In [ ]:
float((1, 2))

#### Fail gracefully
Say we want to simply return the arg.
we can do this by using the try/except block

In [20]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [21]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [23]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError): #we can catch multiple expection types
        return x

```python
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()
```

```python
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally: #this executes whether the try/except block fails or not
    f.close()
```

#### Exceptions in IPython

```python
In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:
```

## Files and the Operating System

In [24]:
%pushd book-materials

[Errno 2] No such file or directory: 'book-materials'
/home/danny/Documents/pydata-book

['~/Documents/pydata-book']

In [25]:
path = 'examples/segismundo.txt'
f = open(path)

We can treat the file like a list.
```python
for line in f:
    pass
```

In [26]:
lines = [x.rstrip() for x in open(path)]
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [27]:
f.close() #release resources back to the Operating system. important to close files if opened.

#### Use `with` statement
automatically closes the file when exiting the block.

In [30]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [31]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [32]:
f.tell()
f2.tell()

10

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f.seek(3)
f.read(1)

In [ ]:
f.close()
f2.close()

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [ ]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [ ]:
with open(path) as f:
    chars = f.read(10)
chars

In [ ]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [ ]:
data.decode('utf8')
data[:4].decode('utf8')

In [ ]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [ ]:
%popd

## Conclusion